<button (click)="exibirFormCadastro()" type="button" class="btn btn-secondary float-end m-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Adicionar Curso
</button>

<table class="table table-hover table-sm" *ngIf="cursos">
    <thead>
        <th>Id</th>
        <th>Curso</th>
        <th>Categoria</th>
        <th>Descrição</th>
        <th>Data de Início</th>
        <th>Data de Término</th>
        <th>Quantidade de Alunos</th>
    </thead>
    <tbody>
        <tr *ngFor="let c of cursos">
            <td>{{c.id}}</td>
            <td>{{c.nome}}</td>
            <td>{{cursoCategoriaMap.get(c.cursoCategoriaId)}}</td>
            <td>{{c.descricao}}</td>
            <td>{{c.dataInicio | date:"dd/MM/yyyy"}}</td>
            <td>{{c.dataTermino | date:"dd/MM/yyyy"}}</td>
            <td>{{c.quantidadeAlunos}}</td>
            <td>
                <button (click)="exibirFormAtualizacao(c.id)" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-outline-secondary me-2 mb-1">
                    <img height="25" src="assets/edit.png" alt="">
                </button>
                <button  (click)="excluirCurso(c.id)" class="btn btn-outline-secondary me-2 mb-1">
                    <img height="25" src="assets/delete.png" alt="">
                </button>
            </td>
        </tr>
    </tbody>
</table>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{formTitulo}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="crud-modal-close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]= "form" (ngSubmit)="enviarForm()">
                    <div class="mb-3 form-group">
                        <label for="comments" class="form-label">Título</label>
                        <input type="text" class="form-control" formControlName="nome">
                    </div>
                    <div class="mb-3 form-group">
                        <label for="cursoCategoriaId" class="form-label">Categoria</label>
                        <!-- <input type="text" class="form-control" formControlName="cursoCategoriaId"> -->
                        <select class="form-control" name="cursoCategoriaId" id="cursoCategoriaId" formControlName="cursoCategoriaId">
                            <option *ngFor="let c of cursoCategorias" [value]="c.id">{{c.categoriaNome}}</option>
                        </select>
                    </div>
                    <div class="mb-3 form-group">
                        <label for="comments" class="form-label">Descrição</label>
                        <input type="text" class="form-control" formControlName="descricao">
                    </div>
                    <div class="mb-3 form-group">
                        <label for="comments" class="form-label">Data de Início</label>
                        <input type="date" class="form-control" formControlName="dataInicio">
                    </div>
                    <div class="mb-3 form-group">
                        <label for="comments" class="form-label">Data de Término</label>
                        <input type="date"  class="form-control" formControlName="dataTermino">
                    </div>
                    <div class="mb-3 form-group">
                        <label for="comments" class="form-label">Quantidade de Alunos</label>
                        <input type="number" class="form-control" formControlName="quantidadeAlunos">
                    </div>
                    <div class="mb-3 form-group">
                        <label for="status" class="form-label" >Status</label>
                        <!-- <input type="text" class="form-control" formControlName="status"> -->
                        <select class="form-control" name="status" id="status" formControlName="status">
                            <option *ngFor="let s of status" [value]="s.statusOpcao">{{ s.statusOpcao }}</option>
                        </select>
                    </div>
                    <button class="btn btn-outline-secondary" type="submit"><img height="25" src="assets/save.png" alt=""></button>
                
                    <!-- <button (click)="adicionarCurso()" *ngIf="curso.id==0" class="btn btn-primary">
                        Adicionar
                    </button>
                    <button (click)="atualizarCurso()" *ngIf="curso.id!=0" class="btn btn-primary">
                        Atualizar
                    </button> -->
                </form>
            </div>
        </div>
    </div>
</div>