<div class="row mt-4">
    <div class="col-md-2">
        <button type="button" style="opacity: 0.9;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="addModal();">
            Adicionar Curso
        </button>
    </div>
    <div class="col-md-4">
        <div class="search-container">
            <input type="text" id="myInput" class="search-box" placeholder="Buscar cursos..." [(ngModel)]="searchText">
        </div>
    </div>
    <div class="col-md-3 py-1 px-2">
        <input style="opacity: 0.55; border-radius: 5px;" type="date" [(ngModel)]="inicio" name="inicio"> 
        <input class="float-end" style="opacity: 0.55; border-radius: 5px;" type="date" [(ngModel)]="termino" name="termino">
    </div>
    <div class="col-md-2 px-4">
        <button class="btn btn-secondary" onclick="document.getElementById('myInput').value = ''" (click)="limparFiltros();">
            Limpar Filtros
        </button>
    </div>
    <div class="col-md-1">
        <button routerLink="" class="btn btn-secondary">
            Voltar
        </button>
    </div>
</div>

<table style="text-align: center;" class="table table-hover table-sm text-light mt-3">
    <thead >
        <th>Curso</th>
        <th>Categoria</th>
        <th>Descrição</th>
        <th>Data de Início</th>
        <th>Data de Término</th>
        <th>Qtd Alunos</th>
        <th>Status</th>
    </thead>
    <tbody *ngFor="let c of cursoList$ | async | filtroData: inicio : termino" >
            <tr *ngIf="searchText === '' || c.nome.toLowerCase().includes(searchText) || cursoCategoriaMap.get(c.cursoCategoriaId).toLowerCase().includes(searchText)">
                <td>{{c.nome}}</td>
                <td>{{cursoCategoriaMap.get(c.cursoCategoriaId)}}</td>
                <td>{{c.descricao}}</td>
                <td>{{c.dataInicio | date:"dd/MM/yyyy"}}</td>
                <td>{{c.dataTermino | date:"dd/MM/yyyy"}}</td>
                <td>{{c.quantidadeAlunos}}</td>
                <td>{{c.status}}</td>
                <td>
                    <button (click)="editModal(c)" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-outline-secondary me-2 mb-1">
                        <img height="25" src="assets/edit.png" alt="">
                    </button>
                    <button  (click)="removerCurso(c)" class="btn btn-outline-secondary me-2 mb-1">
                        <img height="25" src="assets/delete.png" alt="">
                    </button>
                </td>
            </tr>
    </tbody>
</table>

<!-- Add/Edit Modal -->

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{modalTitle}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="closeModal()" id="add-edit-modal-close"></button>
            </div>
            <div class="modal-body">
                <app-add-edit-cursos [curso]="curso" *ngIf="formON"></app-add-edit-cursos>
            </div>
        </div>
    </div>
</div>