<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Login</h1>
            </div>
            <div class="form-label-group">
                <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
                <label for="inputEmail" class="text-muted">e-mail</label>
                <span class="text-danger" 
                    *ngIf="loginForm.get('email').invalid
                    && loginForm.get('email').touched
                    && loginForm.get('email').errors['required']">
                    Insira o seu e-mail     
                </span>
                <span class="text-danger" 
                    *ngIf="loginForm.get('email').invalid
                    && loginForm.get('email').touched
                    && loginForm.get('email').errors['pattern']">
                    E-mail inválido     
                </span>
            </div>
            <div class="form-label-group">
                <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
                <label for="inputPassword" class="text-muted">senha</label>
                <span class="text-danger" 
                    *ngIf="loginForm.get('password').invalid
                    && loginForm.get('password').touched
                    && loginForm.get('password').errors['required']">
                    Insira a sua senha     
                </span>
                <span class="text-danger" 
                    *ngIf="loginForm.get('password').invalid
                    && loginForm.get('password').touched
                    && loginForm.get('password').errors['pattern']">
                    Senha inválida     
                </span>
            </div>
            <button [disabled]="loginForm.invalid" class="btn btn-primary btn-block" type="submit">Entrar</button>
        </form>
    </div>
</div>
